@font-face {
	font-family: Apex;
	src: url("fonts/apex.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-ms-user-select: none;
}

body {
	background-color: black;
	font-family: Apex;
	overflow: hidden;
}
/*Старый интерфейс*/
/*canvas {
	border: solid 3px gray;
	position: relative;
	display: block;
	margin: auto;
	background-color: #fff;
}*/

/*Новый интерфейс*/
/*В процессе*/

table {
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

table td {
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	/*padding: 3px;*/
	overflow: hidden;
	border: solid 1px #c2b9b0;
}

table td img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

div#gamecontainer {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	transition: .2s;
}

div#gamecontainer div#mainmenu {
	background-size: 100% 100%;
	background-image: url("gui/bg_menu.jpg");
}

div#gamecontainer div#loadscreen {
	background-size: 100% 100%;
	background-image: url("gui/bg_load.jpg");
}

div#gamecontainer input {
	height: 50px;
	outline: none;
	width: 100%;
	color: white;
	font-size: 14pt;
	transition: .2s;
	background-color: black;
	font-family: Apex;
	border: none;
}

div#gamecontainer input:hover {
	background-color: white;
	color: black;
}

div#gamecontainer input.disabled,
div#gamecontainer input.disabled:hover {
	background-color: gray;
	color: #555;
}

div#gamecontainer div.buttons {
	position: relative;
	padding: 10px 20px;
	width: 306px;
	top: 50px;
	left: 50px;
	border: solid 3px black;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

div#gamecontainer div.buttons input {
	margin: 10px 0;
}

div#gamecontainer div#campaignscreen div.buttons:first-child {
	width: calc(100% - 100px);
}

div#gamecontainer div#campaignscreen div.buttons:last-child {
	position: absolute;
	top: calc(100% - 150px);
	left: calc(100% - 50px - 306px);
}

div#gamecontainer div#optiongraphics {
	height: 100px;
	width: 100px;
	border: solid 3px black;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

div#gamecontainer div#campaigndescription {
	width: 32%;
	position: absolute;
	text-align: center;
	top: calc(50% - 280px);
	left: 60%;
	color: white;
	padding: 20px;
	border: solid 3px black;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0 0 5px rgba(255,255,255,255.5);
}

div#gamecontainer div#campaigndescription div {
	width: 100%;
	margin-top: 30px;
	text-align: justify;
}

div#gamecontainer div#loadscreen div.buttons {
	position: absolute;
	top: calc(100% - 150px);
	left: calc(50% - 153px);
}

div#gamecontainer div#interfacetop {
	height: 3%;
	background-color: #6e909d;
	border-bottom: solid 2px #c2b9b0;
}

div#gamecontainer div#interfacetop input{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 10%;
	height: 100%;
	font-size: 12pt;
	border: solid 1px #c2b9b0;
}

div#gamecontainer canvas {
	display: block;
	width: 100%;
	height: 80%;
}

div#gamecontainer div#interfacebottom {
	height: 17%;
	display: flex;
	background-color: #6e909d;
}


div#gamecontainer div#interfacebottom div#minimap{
	width: 13%;
	height: 100%;
	background-color: black;
	border: solid 3px #c2b9b0;
}
div#gamecontainer div#interfacebottom div#minimappanel{
	width: 2%;
	height: 100%;
	background-color: black;
	border: solid 3px #c2b9b0;
	border-left: none;
}

div#gamecontainer div#interfacebottom div#wrapportrait {
	margin-left: 2%;
	width: 10%;
	height: 100%;
	background-color: black;
	border: solid 5px #c2b9b0;
}

div#gamecontainer div#interfacebottom div#wrapportrait div#portrait {
	width: 100%;
	height: 80%;
	background-size: 100%;
	background-repeat: no-repeat;
}

div#gamecontainer div#interfacebottom div#wrapportrait div#lifebar {
	border-top: solid 3px #c2b9b0;
	width: 100%;
	text-align: center;
	color: green;
	font-size: 14pt;
}

div#gamecontainer div#interfacebottom div#selectedinformation {
	width: 8%;
	height: 100%;
	background-color: black;
	border: solid 3px #c2b9b0;
	border-left: none;
	overflow: hidden;
	color: white;
	padding: 20px;
}

div#gamecontainer div#interfacebottom div#selectedinformation h2 {
	margin-bottom: 5px;
}

div#gamecontainer div#interfacebottom div#selectedinformation p {
	padding: 5px 0;
}

div#gamecontainer div#interfacebottom div#selecteditems {
	width: 35%;
	height: 100%;
	background-color: black;
	border: solid 3px #c2b9b0;
	border-left: none;
	overflow: hidden;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	color: white;
	padding: 20px;
}

div#gamecontainer div#interfacebottom div#selecteditems div {
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-bottom: 5px;
	border: solid 3px #c2b9b0;
	transition: .2s;
}

div#gamecontainer div#interfacebottom div#selecteditems div.selected {
	border: solid 3px green;
	transform: scale(1.1);
}

div#gamecontainer div#interfacebottom div#selecteditems div img {
	width: 100%;
	object-fit: scale-down;
	height: 100%;
}

div#gamecontainer div#interfacebottom div#unititems {
	margin-left: 1%;
	width: 7%;
	background-color: black;
	border: solid 3px #c2b9b0;
}

div#gamecontainer div#interfacebottom div#actioncells {
	margin-left: 1%;
	width: 20%;
	background-color: black;
	border: solid 3px #c2b9b0;
}

div#gamecontainer div#popup {
	position: absolute;
	display: none;
	transition: .2s;
	top: 20px;
	left: calc(100% - 425px);
	font-size: 10pt;
	color: white;
	width: 400px;
	padding: 10px;
	text-align: justify;
	border: solid 3px black;
	background-color: rgba(0,0,0,0.7);
}