* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: Arial;
	overflow: hidden;
}

canvas {
	position: relative;
	display: block;
	margin: auto;
	background-color: #fff;
	cursor: url("assets/cursor/Arrow.cur"), auto;
}